* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Main skeleton */
html,
body {
	width: 100%;
	height: 100%;
}
header {
	background-color: blue;
	height: 100px;
	text-align: center;
	margin-bottom: 10px;
}
header h1 {
	color: #ffffff;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	margin-bottom: 10px;
	background-color: aqua;
	width: 50%;
	height: 500px;
}
/*it will change the things I have made it just for starting point*/
/*your class en id can be related your article number then we will have zero conflict :)*/

/*ARTICLE 5 and Article 6*/
.article5 {
	background-image: url('./img/mame/brown-kangaroo-near-tree-3567163.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.article5 h2 {
	text-align: center;
	text-transform: capitalize;
	font-size: 44px;
	color: #fff;
	font-family: 'Bungee Shade', sans-serif;
}
.article5 button {
	align-self: center;
	min-width: 20%;
	height: 40px;
	background-color: rgb(0, 103, 214);
	color: #ffffff;
	font-weight: 800;
	font-weight: bold;
}
.article6 {
	background-image: url('./img/mame/sri-lanka.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.article6 h2 {
	text-align: center;
	text-transform: capitalize;
	font-size: 44px;
	color: #fff;
	font-family: 'Bungee Shade', sans-serif;
}
.article6 button {
	align-self: center;
	min-width: 20%;
	height: 40px;
	background-color: rgb(0, 103, 214);
	color: #ffffff;
	font-weight: 800;
	font-weight: bold;
}
